##### VOLUMES #####
volumes:
  data:
  backups:

##### SERVICES #####
services:
  ##### Filebrowser #####
  filebrowser:
    image: filebrowser/filebrowser
    restart: always
    ports:
      - 8080:80
    volumes:
      - data:/srv

  ##### Backup #####
  backups:
    image: itzg/mc-backup
    depends_on:
      mc:
        condition: service_healthy
    volumes:
      - data:/data:ro
      - backups:/backups
    environment:
      PRUNE_BACKUPS_DAYS: 3
      SRC_DIR: /data
      DEST_DIR: /backups
      RCON_HOST: mc

  ##### Minecraft Server #####
  mc:
    image: itzg/minecraft-server:java21-jdk
    restart: always
    tty: true
    stdin_open: true
    cap_add:
      - CAP_NET_RAW
    dns:
      - 8.8.8.8
      - 1.1.1.1
    ports:
      - 25565:25565
      - 24454:24454/udp
    volumes:
      - data:/data
    environment:
      EULA: true

      # General
      INIT_MEMORY: 8G
      MAX_MEMORY: 16G
      USE_AIKAR_FLAGS: false
      USE_MEOWICE_FLAGS: true
      SNOOPER_ENABLED: false
      LOG_LEVEL: info

      # Server
      SERVER_NAME: Kanaloa MC
      MOTD: §l§sKanaloa MC
      ICON: https://raw.githubusercontent.com/petitbonney/kanaloa-mc/refs/heads/master/assets/server-icon_cobblemon.png
      TYPE: FABRIC
      VERSION: 1.21.1
      NEOFORGE_VERSION: latest
      MODE: survival
      DIFFICULTY: easy
      SEED: -8322132593539361649
      FORCE_GAMEMODE: true
      SPAWN_PROTECTION: 0
      VIEW_DISTANCE: 10
      SIMULATION_DISTANCE: 8
      PLAYER_IDLE_TIMEOUT: 10 # minutes
      MAX_TICK_TIME: -1
      ALLOW_NETHER: true
      ALLOW_FLIGHT: true

      # Whitelist
      ENABLE_WHITELIST: true
      WHITELIST: petitbonney

      # Auto OP
      OPS: petitbonney

      # Auto-Pause
      ENABLE_AUTOPAUSE: true
      AUTOPAUSE_TIMEOUT_EST: 120 # seconds

      # Starting commands
      RCON_CMDS_STARTUP: |-
        gamerule doInsomnia false
        gamerule doFireTick false
        gamerule playersSleepingPercentage 50
        gamerule keepInventory true
        gamerule doMobSpawning false

      # Mods
      MODRINTH_PROJECTS: |-
        # Datapacks
        datapack:cobblemonloot:1.2.1
        # Mods
        architectury-api:13.0.8+fabric
        athena-ctm:4.0.2
        ati-structures-fabricforge:1.4.2
        automodpack:4.0.5
        balm:21.0.56+fabric-1.21.1
        better-advancements:0.4.3.21
        bobby:5.2.4+mc1.21
        chipped:4.0.2
        cit-resewn:1.2.2+1.21
        clientsort:2.1.6+1.21.1
        cloth-config:15.0.140+fabric
        cobbledollars:2.0.0+Beta-5.1
        cobblemon-additions:4.2.1
        cobblemon-capture-xp:1.7.1-fabric-1.3.0
        cobblemon-counter:1.7.1-fabric-1.9.0
        cobblemon-fight-or-flight-reborn:0.10.5
        cobblemon-integrations:1.1.5
        cobblemon-move-inspector:1.3.0
        cobblemon-playerxp:1.0.4+1.21.1
        cobblemon-pokenav:2.2.5
        cobblemon-size-variations:1.4.0
        cobblemon-tim-core:1.7.1-fabric-1.29.1
        cobblemon-unchained:1.7.1-fabric-1.7.1
        cobblemon:1.7.1
        collective:1.21.1-8.13-fabric+forge+neo
        continuity:3.0.0+1.21
        controlling:19.0.5
        corgilib:1.21.1-5.0.0.7-Fabric
        data-anchor:2.0.0.13-fabric
        enhanced-celestials:6.0.2.5-fabric
        entityculling:1.9.5
        fabric-api:0.116.7+1.21.1
        fabric-language-kotlin:1.13.8+kotlin.2.3.0
        ferrite-core:7.0.2-hotfix-fabric
        forge-config-api-port:v21.1.6-1.21.1-Fabric
        immediatelyfast:1.6.9+1.21.1-fabric
        iris:1.8.8+1.21.1-fabric
        jade:15.10.4+fabric
        jei:19.27.0.340
        lithium:mc1.21.1-0.15.1-fabric
        lootr:1.21.1-1.11.36.111
        modernfix:5.25.1+mc1.21.1
        modmenu:11.0.3
        mouse-tweaks:1.21-2.26-fabric
        necronomicon:1.6.0+1.21
        packet-fixer:3.3.1
        polymorph:1.1.0+1.21.1
        puzzles-lib:v21.1.39-1.21.1-Fabric
        resourceful-lib:3.0.12
        resourcify:1.8.0
        searchables:1.0.2
        servercore:1.5.10+1.21.1
        simple-voice-chat:fabric-1.21.1-2.6.11
        simpletms-tms-and-trs-for-cobblemon:2.3.3
        sodium-extra:mc1.21.1-0.6.0+fabric
        sodium:mc1.21.1-0.6.13-fabric
        sophisticated-backpacks-(unoffical-fabric-port):1.21.1-3.23.4.3.106
        sophisticated-core-(unofficial-fabric-port):1.21.1-1.2.9.21.168
        sophisticated-storage-(unofficial-fabric-port):1.21.1-1.3.7.9.139
        spark:1.10.109-fabric
        terralith:2.5.8
        toms-storage:1.21-2.2.4-fabric
        tpa-utilities:1.2.0
        travelers-titles:1.21.1-Fabric-5.1.3
        tree-harvester:1.21.1-9.1-fabric+forge+neo
        trinkets:3.10.0
        visual-workbench:v21.1.1-1.21.1-Fabric
        waystones:21.1.25+fabric-1.21.1
        worldedit:7.3.8
        xaeros-minimap:fabric-1.21.1-25.3.5
        xaeros-world-map:fabric-1.21.1-1.40.6
        yacl:3.8.2+1.21.1-fabric
        you-shall-not-spawn:1.0.6
        yungs-api:1.21.1-Fabric-5.1.6
        zoomify:2.15.1+1.21.1
